/* src/components/Footer.css */
/* Estilo do Footer */
/* src/components/Footer.css */
.footer {
  background-color: #007bff; /* Azul */
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-content p {
  margin: 5px 0 0;
  font-size: 1rem;
}