/* Resetando margens e padding de todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  display: flex;
  flex-direction: column; /* Organiza os componentes em coluna */
  height: 100vh; /* O corpo da página ocupa toda a altura da tela */
  width: 100%; /* O corpo da página ocupa toda a largura da tela */
  overflow-x: hidden; /* Impede que a tela fique com rolagem horizontal */
}

/* App container para garantir a estrutura dos componentes */
.app {
  display: flex;
  flex-direction: column; /* Organiza todos os componentes de forma vertical */
  height: 100%; /* O conteúdo vai ocupar toda a altura da tela */
  width: 100%;
  flex-grow: 1; /* Garante que o conteúdo ocupe o espaço restante */
}

/* Estilo para o Footer */
footer {
  width: 100%; /* Garante que o footer ocupe toda a largura */
  height: 50px; /* Ajuste a altura do footer conforme necessário */
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
